/* src/pages/auth.css */
.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-color);
}

.auth-card {
    width: 100%;
    max-width: 600px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #fff;
}

.form-item {
    margin-bottom: 16px;
}

.error {
    color: var(--error-color);
    font-size: 12px;
    margin-top: 4px;
}

.tagline {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 24px;
}